* {
    margin: 0;
    padding: 0;
}
.top {
    
}
.header {
    padding: 40px 0 0 0;
    margin: 0 0 84px 0;
    box-sizing: border-box;
}
.logo {

}
.top-menu-item {

}
.top-menu-item-link {

}
.top-info {
    margin: 0 0 259px 0;
}
.top-content {
    
}
.title {
    margin: 0 0 17px 0;
}
.subtitle {
    margin: 0 0 37px 0;
}
.top-content-btn-wrp {

}
.top-content-btn {

}
.top-content-btn-video {

}
.top-info-img {

}
.top-logos {
    padding: 0 0 96px 0;
}
.top-logos-list {

}
.top-logos-item {

}
